<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705253373413-ri89vqjdjr576v2d6mkfhbo16kc3uvjc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705253373413-ri89vqjdjr576v2d6mkfhbo16kc3uvjc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>705253373413-43sv1gc6hl1ctp79oqd80l1f0hq1g5od.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8APeFyXHOzFi4btOqWwRnA0pOu7-6m7U</string>
	<key>GCM_SENDER_ID</key>
	<string>705253373413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hse.DubkiApp</string>
	<key>PROJECT_ID</key>
	<string>dubki-app</string>
	<key>STORAGE_BUCKET</key>
	<string>dubki-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705253373413:ios:64229175acdcae14042b0c</string>
	<key>DATABASE_URL</key>
	<string>https://dubki-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>